html, body, .bloc {height: 100%;}

#recommendationsID{
	margin-bottom:1%;
}
.formContent, .footer-copyright{margin-left:1%;}
.noUi-value-sub, .noUi-value {margin-top:5px;}
@media only screen  and (max-width: 768px){
	.target{position:relative !important;overflow-y: hidden !important;}
	
}

.material-icons.orange600 { color: #FB8C00; }



